* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body {
  padding: 2rem;
  background-color: var(--wht);
}

:root {
  --pr: rgb(68, 157, 91);
  --sc: rgb(119, 119, 119);
  --blk: rgb(21, 21, 21);
  --wht: rgb(252, 252, 252);
  --prfont: "Outfit", sans-serif;
  --scfont: "Bochild", sans-serif;
  --h3: 2.1rem;
  --h2: 4rem;
  --bodytext: 1.5rem;
}

html {
  font-size: 62.5%;
}

.nav {
  display: flex;
  justify-content: space-between;
  height: 80px;
  background-color: var(--wht);
  padding-top: 2em;
}
.navlinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 600px;
}
.navlogo {
  padding: 10px;
  scale: 1.8;
}
.link {
  list-style: none;
}
a {
  font-family: var(--scfont);
  text-decoration: none;
  color: var(--pr);
  font-size: var(--bodytext);
  transition: all 0.3s;
}

a:hover {
  font-family: var(--scfont);
  text-decoration: none;
  color: var(--blk);
  scale: 1.3;
  transition: all 0.3s;
  font-size: var(--bodytext);
}

.intro {
  display: grid;
  gap: 1em;
  grid-template-areas:
    "a a a a"
    "d d b b"
    "c c . .";
}
.introimg {
  width: 50rem;
  grid-area: d;
}
.introh2 {
  margin-top: 5rem;
  grid-area: a;
  font-size: var(--h2);
  color: var(--pr);
  font-family: var(--scfont);
}
.button {
  font-size: var(--h3);
  padding: 10px 25px;
  border: none;
  color: white;
  background: var(--pr);
  border-radius: 6rem;
  width: 17rem;
  grid-area: c;
  font-family: var(--scfont);
  justify-self: center;
}
.button:hover {
  background-color: black;
}
.introp {
  width: 41rem;
  margin-left: 8rem;
  grid-area: b;
  align-self: center;
  font-size: var(--h3);
  text-justify: distribute;
}

.servicesheading {
  font-family: var(--scfont);
  font-size: var(--h3);
  margin-top: 2rem;
}

.services {
  display: flex;
  flex-direction: row;
  margin-top: 6rem;
  padding-bottom: 2rem;
  width: auto;
}
.service {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: flex-start;
}
.servicep {
  font-family: var(--prfont);
  text-align: center;
  font-size: var(--bodytext);
  padding: 0 2rem;
}

.serviceheading {
  font-family: var(--scfont);
  font-size: var(--bodytext);
  color: var(--pr);
}

.servicebutton {
  margin-top: 2rem;
  font-size: var(--bodytext);
}

.reviews {
  display: flex;
  flex-direction: row;
  padding: 3rem 0;
}
.reviesheading {
  font-size: var(--h3);
  font-family: var(--scfont);
  margin-top: 2rem;
}
.review,
.review1 {
  align-self: center;
  text-align: center;
  margin-top: 1rem;
  padding: 3rem;
}

.reviewimg {
  border-radius: 7rem;
  width: 12rem;
}
.reviewheading {
  font-size: var(--h3);
  font-family: var(--scfont);
  margin-top: 2rem;
  color: var(--pr);
}
.reviewp {
  font-size: var(--bodytext);
  font-family: var(--prfont);
  margin-top: 1rem;
}

.footer {
  width: auto;
  position: relative;
  background-color: var(--pr);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: aliceblue;
}
.footerlinks i {
  padding: 3rem;
  font-size: var(--bodytext);
}

.footer h2 {
  font-family: var(--scfont);
  font-size: var(--h3);
  margin-top: 2rem;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 40%;
  }
}

@media only screen and (max-width: 500px) {
  html {
    font-size: 305%;
  }
}
